<section id="cupsSection" data-player-allegiance= <%= @player.allegiance %> >
  <% @game.cups.sort_by(&:label).each do |cup| %>
    <figure id=<%= "#{cup.kind}_quaffed_#{@player.quaffed?(cup)}" %>>
      <p></p>
      <%= link_to image_tag("cups/#{cup.image}", alt: (@player.quaffed?(cup) ? cup.human_readable_name : 'A cup of unknown identity'), id: cup.kind), game_player_quaff_path(game_slug: @game.slug, player_id: @player.id, params: {cup_id: cup.id}), method: :post, class: "noAnchorUnderlines", id: "#{cup.kind}_anchor" %>
      <h4><i>
        <%= cup.label %>
        <% if @player.quaffed?(cup) %>
          — <%= cup.human_readable_name%>
        <% end %>
      </i></h4>
    </figure>
  <% end %>
</section>
