<section id="cupsSection" data-player-allegiance= <%= @player.allegiance %> >
  <% @game.cups.sort_by(&:label).each do |cup| %>
    <figure id=<%= "#{cup.kind}_quaffed_#{@player.quaffed?(cup)}" %>>
      <%= image_tag("cups/#{cup.image}", alt: cup.alt_img_text(@player), id: cup.kind) %>
      <%= button_to 'Drink', game_player_quaff_path(game_slug: @game.slug, player_id: @player.id, params: {cup_id: cup.id}), method: :post, id: "#{cup.kind}_button" %>
      <h4><i>
        <%= cup.label %>
        <% if @player.quaffed?(cup) || @game.finished? %>
          — <%= cup.human_readable_name%>
        <% end %>
      </i></h4>
    </figure>
  <% end %>
</section>
