<% unless flash.present? %>
  <div class="fixed-position">
    <h1>Lobby</h1>

    <section>
      <p>Share this URL to invite players: <a href="<%=@url%>"><%=@url%></a> </p>
      <%= button_to 'Start (when all the players are here)', start_game_path(slug: @game.slug), disabled: (!@game.quorate? || @game.started? ), id: 'startButton' %>
      <h2>The Players</h2>
        <div id="players">
        <% @game.number_of_players.times do |index| %>
          <p class="player">
            <%= index + 1 %>. 
            <span id="playerName<%= index %>">
              <% if @game.players[index] %>
                <%= @game.players[index]&.name %>
                <% if @game.players[index] == @player%>
                  (you)
                <% end %>
              <% end %>
            </span>
          </p>
        <% end %>
        </div>
      </p>
    </section>
  </div>

  <section>
    <div class="marginnote">
      <p><span class="drop-caps-m">M</span>y good knights,</p>
      
      <p>All my life, I have sought the <span class="newthought red">Holy Grail</span>, in order that all people might share in its wealth, and enjoy a supernaturally long span of healthy life.</p>
      
      <p>Not all you who sit here this <%=@day_or_night%> were yet born at this quest’s beginning. I still fervently believe in the cause of life, and our eventual victory over death.
      
      <p>But I am grown old, and the <span class="newthought">Grail</span> eludes us yet. It pains me to say this, my young friends, but I scarecly retain the sharpness of—what’s that word?—<i>mind</i>, that was it. Now, where was I...? Ah yes. I scarcely retain the sharpness of mind to rule. No, do not flatter me with contradictions. I know I am wasting away, and am not in my prime.
      
      <p>What, you rightly ask, prevents me from passing on the mantle to the right person?
      
      <% # TODO: make 'one' below responsive to the game set up. %>
      <p>One of our number has done a great evil, who surely sits at this uncorner’d table.
      
      <p>They have found the <span class="newthought">Holy Grail</span>, and have taken it for themselves!
      
      <p>This traitor in our mydthst shall <i>never</i> wear the crown, else my name is not Arthur Pendragon.
      
      <p>As if unsated by this evil, it is also known that the enemy consulted with unholy powers, in order to forge a false <span class="newthought">Grail</span>, indistinguishable from the original.
      
      <p>Any who drink from this <span class="newthought red">Accursèd Chalice</span> will likewise lose their faith and pledge allegiancy to dark forces.
      
      <p>That low trick might well have confounded and ensnared us all, were it not for Merlin’s cunning. After uncovering the forgery, Merlin called upon strong magics to fashion a <i>third</i> goblet, to reverse the effect of the <span class="newthought">Accursèd Chalice</span>.
      
      <p>In order to ensnare and confound the enemy, <span class="newthought red">Merlin’s Goblet</span> is indistinguishable in every single aspect from the <span class="newthought">Accursèd Chalice</span>. A clever trick, as you will agree!
      
      <p>The enemy was not careful in all things, and covered their tracks poorly, allowing Merlin to uncover the hiding place of the <span class="newthought">Holy Grail</span> and the <span class="newthought">Accursèd Chalice</span>, which are now in our possession—though indistinguishable.
      
      <p>Slightly embarrassingly, the cups were dropped in transit, so we are not now sure which is <span class="newthought">Merlin’s Goblet</span>.
      
      <p>Never mind. All that stands between us and victory is simply to work out which cup is which, without becoming corrupted ourselves in the process. Then we may vouchsafe the health and happiness of Britain and all the world, for all time.
      
      <p>Of course, if you should fail, and the <span class="newthought">Accursèd Chalice</span> I do drink, it will spell disaster, doom, demise, despair—not to mention devastation. I shall be a device for dark deeds, for the delight of demons, enduring in deathless dominion.
      
      <p>But no pressure! Take your time!
      
      <p>But don’t take too long, or I might die of old age! So be quick, and get it right. No rush! Hurry, we haven’t much time!—but you must be absolutely certain, or all will be lost! So for Heaven’s sake get cracking!
    </div>
  </section>
<% end %>
