<p>Styled as if <span class="newthought"><%=@allegiance.capitalize%></span> <%=@allegiance_symbol%></p>
<%= form_with do |f| %>
  <%= f.submit "Change team" %>
<% end %>

<section>
  <p>
    <label for="mn-notepad" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-notepad" class="margin-toggle"/>
    <span class="marginnote">
      My notes:<br/>
      <textarea placeholder="I think... (drag to expand)"></textarea>
    </span>
  </p>

  <p><span class="newthought">Slug:</span> <%= @game.slug %></p>
  <p><span class="newthought">Players:</span>
    <% @game.players.each do |player| %>
      <%= player.name %><sup><%=player.allegiance_symbol %></sup> 
    <% end %>
  </p>
  <p><span class="newthought">Cups:</span></p>
</section>

<section>
  <% @game.cups.each do |cup| %>
    <figure>
      <%= image_tag("cups/#{cup.image}", alt: cup.human_readable_name) %>
      <h4><i><%= cup.human_readable_name%></i></h4>
    </figure>
  <% end %>
</section>

