<h1>You are viewing the game called <span class="newthought"><%= @game.slug %></span></h1>
<section>
  <p>Slug: <%= @game.slug %></p>
  <p>Players: <%= @game.players.count%></p>
  <p>Cups:</p>

  <p>
    <label for="mn-demo" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-notepad" class="margin-toggle"/>
    <span class="marginnote">
      My notes:<br/>
      <textarea>I think...</textarea>
    </span>
  </p>
</section>

<section>
  <% @game.cups.each do |cup| %>
    <figure style="text-align: center">
      <%= image_tag("cups/#{cup.image}", height: '100', alt: cup.human_readable_name) %>
      <p><span class="newthought"><%= cup.human_readable_name%></span></p>
    </figure>
  <% end %>
</section>

