<section>
  <p>
    <span class="marginnote">
      <%=@player.name.titleize%>, you are <span class="newthought"><%=@allegiance.capitalize%></span> <%=@allegiance_symbol%>
    </span>
  </p>
  
</section>

<%= form_with do |f| %>
  <%= f.submit "Change team" %>
<% end %>

<section>
  
  <p>
    <span class="marginnote">
      My notes:<br/>
      <textarea placeholder="I think... (drag to expand)"></textarea>
    </span>
    <span class="marginnote showOnHover">
      <span class="reverseVisibility"><span class="newthought">Rulebook </span>(hover to show)</span>
      <i>Whosoever drinks of the </i><span class="newthought">Accursèd Chalice</span><i> shall turn to Evil;<br/>
      and of </i><span class="newthought">Merlin's Goblet</span><i>, to the side of Good;<br/>
      Finally, when Arthur brings the </i><span class="newthought">Holy Grail</span><i> to his lips, shall his side be ever victorious.</i>
    </span>
  </p>
  <%= render partial: 'players' %>
</section>

<section>
  <% @game.cups.sort_by(&:label).each do |cup| %>
    <% # include @allegiance as data for JS to know when to bother with animation %>
    <figure data-player-allegiance='@allegiance'>
      <p><%= cup.label %></p>
      <%= link_to image_tag("cups/#{cup.image}", alt: (@player.quaffed?(cup) ? cup.human_readable_name : 'A cup of unknown identity'), id: cup.kind), game_change_team_path(game_slug: @game.slug), method: :post, class: "noAnchorUnderlines" %>
      <% if @player.quaffed?(cup) %>
        <h4><i><%= cup.player_readable_name%></i></h4>
      <% end %>
    </figure>
  <% end %>
  <p>
    
  </p>
</section>

<%= button_to "Leave Game", action: "leave_game", slug: @game.slug %>
