<!DOCTYPE html>
<html>
  <head>
    <title>The Game of Cups</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: 'shared/open_graph' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicons/3_cups_on_white.jpg') %>
  </head>

  <body class=<%= @player&.allegiance %>>
    <div id="modalCollection"></div>
    <article style="<%= "padding-top: 0" if @game.present? && !@game.draft? %>">
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
        <hr/>
      <% end %>
      <%= yield %>
    </article>
  </body>
</html>
